<% unless shout.content.nil? %>
<div class="card mb-3">
  <div class="card-body">
    <div class="card-title">
      <h5>
      <%= avatar(shout.user) %>
      <%= link_to shout.username, shout.user %>
      </h5>
      <%=link_to shout do %>
        <%= time_ago_in_words(shout.created_at) %> ago
      <% end %>
    </div>
    <div class="my-2">
      <%= render shout.content %>
    </div>
    <%= like_button(shout) %>
  </div>
</div>
<% end %>