<%= simple_form_for(:session, url: session_path ) do |form| %>
  <div class="form-row">
    <div class="col-5">
      <%= form.input :email_or_username,
                      label: false,
                      input_html: {placeholder: 'Email or Username'} %>
    </div>
    <div class="col-5">
      <%= form.input :password,
                      label: false,
                      input_html: {placeholder: 'Password'} %>
    </div>
    <div class="col-2">
      <%= form.button :submit, class: 'btn-primary btn-block' %>
    </div>
  </div>
<% end %>
<div class="other-links">
  <% if Clearance.configuration.allow_sign_up? %>
    <%= link_to t(".sign_up"), sign_up_path %>
  <% end %>
  <%= link_to t(".forgot_password"), new_password_path %>
</div>
