<div id="clearance" class="sign-up card my-2">
  <div class="card-body">
    <h2 class="display-2 my-2"><%= t(".title") %></h2>
    <hr>
    <%= simple_form_for @user do |form| %>
      <%= render partial: '/users/form', object: form %>

      <%= form.button :submit, class: 'btn-success btn-block' %>

      <div class="other-links my-2">
        <%= link_to t(".sign_in"), sign_in_path %>
      </div>
    <% end %>
  </div>
</div>
