<div class="row my-4">
  <div class="col-md-3">
    <div class="card text-center">
      <div class="card-body">
        <%=avatar(@user)%>
        <h5 class="title"><%= @user.username%></h5>
        <%= follow_btn(@user) %>
        <%= link_to  "Followers", user_followers_path(@user) %>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <%= render  @timeline %>
  </div>
</div>
