<h1>Dashboard</h1>
<hr>
<%= form_for @shout do |form| %>
  <%= form.fields_for :content do |content_form| %>
    <%= content_form.text_field :body, placeholder: "Shouts here!", requiered: true %>
  <% end %>
  <%= form.submit "Shout!" %>
<% end %>

<%= render @shouts %>