<h1>Dashboard</h1>
<hr>
<%= shout_form_for(TextShout,'btn-dark') do |form| %>
    <%= form.input :body, label: false, placeholder: "Shouts here!", requiered: true %>
<% end %>

<%= shout_form_for(PhotoShout,'btn-info') do |form| %>
    <%= form.input :image, as: :file, requiered: true, label: false %>
<% end %>

<%= render @dashboard.timeline %>